# Node
node_modules/
node/node_modules/

# Credenciales
node/serviceAccountKey.json
.env
# Node
node_modules/
node/node_modules/

# Credenciales
node/serviceAccountKey.json
.env

firebase.json
.env

firebase-debug.log
.env
firestore-debug.log
.env
/serviceAccountKey.json
