/* Solo cuando el body tiene la clase plans-embed */
body.plans-embed header, 
body.plans-embed footer {
    display: none !important;
}

body.plans-embed {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden; /* Quita el scroll de la página interna */
    background: transparentre; /* Opcional: para que tome el fondo de tu app principal */
    box-shadow: none;
}

/* Ajustamos el margen del contenido principal para que no quede espacio arriba */
body.plans-embed .grid-wrap {
    margin-top: 0 !important;
    height: 100vh; /* Que ocupe todo el alto visual del iframe */
    border-color: transparent;
    background: var(--card); 
    box-shadow: none;
}

.status-modal[hidden]{
    display: none !important;
}
